#BlueSheet{
	background-color: #DBF9F3; 
}

.card-header{
	background-color: #7389c5;
	color: white;
}

.collapse{
	background-color: #f3f5f9;
}

.oddRow{
	border: 1px solid #6cc0e5 !important;
	height: 50px;
	margin: 0px;
}

.evenRow{
	border: 1px solid #6cc0e5 !important;
	background-color: #ffffff;
	border: 2px solid white;
	height: 50px;
	margin: 0px;
}

h1{
	text-align: center;
}

input, span, select{
	border: 1px solid #6cc0e5 !important;
	border-collapse: collapse;
}

input[type="radio"]{
	display : none;
}

.redFlag{
    border-color: red !important;
}

input.currency {
	text-align: right;
	padding-right: 15px;
}

#required{
	display: none;
	color: red;
	font-size: 0.9em;
}

.section{
	border-radius: 10px;
	background-color: #DBF9F3;
}

.btn, .card-header{
	cursor: pointer;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);


/*Checkboxes styles*/
input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #6cc0e5;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.fas{
    color: red;
}